body{
    background-color: rgba(139, 139, 193,.3);
    overflow-y: hidden;
}
.con1{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin:1rem auto ;  
    .con1-item{
        font-weight: bold;
    }
    .con1-item:hover{
        cursor: pointer;
    }
}

.cardcon{
    width: 50%;
    margin:auto ;
    background-color: rgba(139, 139, 193,.1);
}
.con{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:3rem auto ;  
}
em{
    color: #e71515;
}