<form action="" class="con1">
    
<mat-form-field appearance="fill" class="hund con-item">
    <mat-label>Mother's Name</mat-label>
    <input matInput>
</mat-form-field>
<div class="con">
<mat-form-field appearance="fill" class="con-item">
    <mat-label>Nationality</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill" class="con-item">
    <mat-label> Ethinic Group</mat-label>
    <mat-select>
      <mat-option value="1"></mat-option>
    </mat-select>
  </mat-form-field>
<mat-form-field appearance="fill"class="con-item">
    <mat-label>Religion</mat-label>
    <input matInput>
</mat-form-field>
</div>
<fieldset class="field">
    <legend>Place of Birth</legend>
    <div class="con">
    <mat-form-field appearance="fill"class="con-item">
        <mat-label>Region</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill"class="con-item">
        <mat-label>Town</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill"class="con-item">
        <mat-label>Sub City</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="con">
    <mat-form-field appearance="fill"class="con-item">
        <mat-label>Woreda</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill"class="con-item">
        <mat-label>Kebele</mat-label>
        <input matInput>
    </mat-form-field>
</div>
</fieldset>
<fieldset class="field">
    <legend>Current Address</legend>
    <div class="con">
    <mat-form-field appearance="fill"class="con-item">
        <mat-label>Town</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill"class="con-item">
        <mat-label>Sub city</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill"class="con-item">
        <mat-label>Woreda</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="con">
    <mat-form-field appearance="fill"class="con-item">
        <mat-label>Kebele</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill"class="con-item">
        <mat-label>House No.</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="con">
    <mat-form-field appearance="fill"class="con-item">
        <mat-label>Telephone(Cell No.)</mat-label>
        <span matPrefix>+251 &nbsp;</span>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill"class="con-item">
        <mat-label>Alt.Telephone</mat-label>
        <span matPrefix>+251 &nbsp;</span>
        <input matInput>
    </mat-form-field>
</div>
    <mat-form-field appearance="fill" class="hund con-item" >
        <mat-label>Email Address</mat-label>
        <input type="email" [formControl]="emailFormControl" matInput>
        <mat-error *ngIf="emailFormControl.hasError('email')">Please enter a valid email address</mat-error>
    </mat-form-field>
</fieldset>
<fieldset class="field">
    <legend>Contact Person in case of Emergency</legend>
    <mat-form-field appearance="fill" class="hund con-item">
        <mat-label>Full Name</mat-label>
        <input matInput>
    </mat-form-field>
    <div class="con">
        <mat-form-field appearance="fill"class="con-item">
            <mat-label>Town</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill"class="con-item">
            <mat-label>Sub City</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill"class="con-item">
            <mat-label>Woreda</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="con">
        <mat-form-field appearance="fill"class="con-item">
            <mat-label>Kebele</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill"class="con-item">
            <mat-label>House No.</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="con">
        <mat-form-field appearance="fill"class="con-item">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+251 &nbsp;</span>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill"class="con-item">
            <mat-label>Alt.Telephone</mat-label>
            <span matPrefix>+251 &nbsp;</span>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill"class="con-item">
            <mat-label>P.O.Box</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <mat-form-field appearance="fill" class="hund con-item">
        <mat-label>Office Address</mat-label>
        <input matInput>
    </mat-form-field>
</fieldset>
</form>
