body{
    overflow-y: hidden;
}
.cardcon{
    width: 50%;
    margin:5rem auto ;
    background-color: rgba(139, 139, 193,.1);
}
.con{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:3rem auto ;  
}