*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
._con{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 1rem auto;
    padding: 0rem 5rem;

    .con1,.con2,.con3{
        .con1-item,.con2-item,.con3-item{
            margin: 0 1rem;
            .select{
            width: 100%;
            }
        }
    } 
}
.flex_con{
    display: grid;
    margin: 1rem auto;
    padding: 0rem 5rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:"p p b";
    .flex1-item{
        grid-area: p;
        margin: 0 1rem;
        .select{
            width: 100%;
        }
    }
    .flex2-item{
        grid-area: b;
        margin: 0 1rem;
        .select{
            width: 100%;
        }
    }
}
.hr,._flex_con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    hr{
        width: 85%;
        height: 0;
    }
}
._flex_con{
    margin: 1rem auto;
    padding: 0rem 5rem;
    .con_1,.con_2,.con_3{
        flex: 1;
        margin-right:1rem ;
        .emp{
width: 100%;
        }
    }
}
.grid{
   display: flex;
   justify-content: flex-end;
   margin: 1rem 1rem;
   padding: 0rem 5rem;
   .select{width: 33%;}
}