
<form action="" class="con">
    <div class="_con">
    <div class="con1">
        <div class="con1-item">
        <mat-form-field appearance="fill"  class="select">
            <mat-label>Employment Type </mat-label>
            <mat-select [(ngModel)]="empType" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let emptype of emptypelist" [value]="emptype.empType">{{emptype.empType}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="con1-item">
          <mat-form-field appearance="fill"  class="select">
            <mat-label>Staff Type </mat-label>
            <mat-select [value]="Notassigned">
              <mat-option [value]="Notassigned">N/A</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="con1-item">
          <mat-form-field appearance="fill"class="select"  >
            <mat-label>Source of Fund</mat-label>
            <mat-select [value]="Notassigned">
              <mat-option [value]="Notassigned">N/A</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="con1-item">
          <mat-form-field appearance="fill" class="select" >
            <mat-label>Payment Base</mat-label>
            <mat-select [value]="Notassigned">
              <mat-option [value]="Notassigned">N/A</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="con1-item">
          <mat-form-field appearance="fill"class="select"  >
            <mat-label>Profession Category</mat-label>
            <mat-select [(ngModel)]="fieldofstudy" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let profession of professionlist" [value]="profession.fieldOfStudy">{{profession.fieldOfStudy}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="con1-item">
          <mat-form-field appearance="fill" class="select" >
            <mat-label>Duty Station</mat-label>
            <mat-select [(ngModel)]="dutyStation" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let duty of dutylist" [value]="duty.dutyStation">{{duty.dutyStation}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="con1-item">
          <mat-form-field appearance="fill"class="select">
            <mat-label>Emp.PF Cont. Rate</mat-label>
            <input matInput [value]="Notassigned">
          </mat-form-field>
        </div>
       
    </div>
    <div class="con2">
        <div class="con2-item">
            <mat-form-field  appearance="fill" class="select">
                 <mat-label> Date of Emp't (Grg)</mat-label>
                 <input matInput [matDatepicker]="E" [(ngModel)]="doe" [ngModelOptions]="{standalone: true}">
                 <mat-datepicker-toggle matSuffix [for]="E"></mat-datepicker-toggle>
                 <mat-datepicker touchUi #E></mat-datepicker>
             </mat-form-field>
         </div>
         <div class="con2-item">
            <mat-form-field  appearance="fill" class="select">
                 <mat-label> Contract Start (Grg)</mat-label>
                 <input matInput [matDatepicker]="C" [(ngModel)]="contStartDate" [ngModelOptions]="{standalone: true}">
                 <mat-datepicker-toggle matSuffix [for]="C"></mat-datepicker-toggle>
                 <mat-datepicker touchUi #C></mat-datepicker>
             </mat-form-field>
         </div>
         <div class="con2-item">
            <mat-form-field  appearance="fill" class="select">
                 <mat-label> Contract End(Grg)</mat-label>
                 <input matInput [matDatepicker]="C_e" [(ngModel)]="contEndDate" [ngModelOptions]="{standalone: true}">
                 <mat-datepicker-toggle matSuffix [for]="C_e"></mat-datepicker-toggle>
                 <mat-datepicker touchUi #C_e></mat-datepicker>
             </mat-form-field>
         </div>
         <div class="con2-item">
            <mat-form-field  appearance="fill" class="select">
                 <mat-label> Res.Permit Start(Grg)</mat-label>
                 <input matInput  [value]="Notassigned">
                 <mat-datepicker-toggle matSuffix [for]="P"></mat-datepicker-toggle>
                 <mat-datepicker touchUi #P></mat-datepicker>
             </mat-form-field>
         </div>
         <div class="con2-item">
            <mat-form-field  appearance="fill" class="select">
                 <mat-label> Res.Permit End (Grg)</mat-label>
                 <input matInput  [value]="Notassigned">
                 <mat-datepicker-toggle matSuffix [for]="P_e"></mat-datepicker-toggle>
                 <mat-datepicker touchUi #P_e></mat-datepicker>
             </mat-form-field>
         </div>
         <div class="con2-item">
            <mat-form-field  appearance="fill" class="select">
                 <mat-label> ALCS Date (Grg)</mat-label>
                 <input matInput [matDatepicker]="a" [(ngModel)]="alsc" [ngModelOptions]="{standalone: true}">
                 <mat-datepicker-toggle matSuffix [for]="a"></mat-datepicker-toggle>
                 <mat-datepicker touchUi #a></mat-datepicker>
             </mat-form-field>
         </div>
         <div class="con2-item">
            <mat-form-field  appearance="fill" class="select">
                 <mat-label> Permanent Since (Grg)</mat-label>
                 <input matInput [matDatepicker]="ps" [(ngModel)]="permanentSince" [ngModelOptions]="{standalone: true}">
                 <mat-datepicker-toggle matSuffix [for]="ps"></mat-datepicker-toggle>
                 <mat-datepicker touchUi #ps></mat-datepicker>
             </mat-form-field>
         </div>
    </div>
    <div class="con3">
            <div class="con3-item">
                <mat-form-field  appearance="fill" class="select">
                     <mat-label> Date of Emp't (Eth)</mat-label>
                     <input matInput [(ngModel)]="doeEth" [ngModelOptions]="{standalone: true}">
                     <mat-datepicker-toggle matSuffix [for]="Ee"></mat-datepicker-toggle>
                     <mat-datepicker touchUi #Ee></mat-datepicker>
                 </mat-form-field>
             </div>
             <div class="con3-item">
                <mat-form-field  appearance="fill" class="select">
                     <mat-label> Contract Start (Eth)</mat-label>
                     <input matInput  [(ngModel)]="contStartDateEth" [ngModelOptions]="{standalone: true}">
                     <mat-datepicker-toggle matSuffix [for]="Ce"></mat-datepicker-toggle>
                     <mat-datepicker touchUi #Ce></mat-datepicker>
                 </mat-form-field>
             </div>
             <div class="con3-item">
                <mat-form-field  appearance="fill" class="select">
                     <mat-label> Contract End(Eth)</mat-label>
                     <input matInput  [(ngModel)]="contEndDateEth" [ngModelOptions]="{standalone: true}">
                     <mat-datepicker-toggle matSuffix [for]="C_e_e"></mat-datepicker-toggle>
                     <mat-datepicker touchUi #C_e_e></mat-datepicker>
                 </mat-form-field>
             </div>
             <div class="con3-item">
                <mat-form-field  appearance="fill" class="select">
                     <mat-label> Res.Permit Start(Eth)</mat-label>
                     <input matInput  [value]="Notassigned">
                     <mat-datepicker-toggle matSuffix [for]="Pe"></mat-datepicker-toggle>
                     <mat-datepicker touchUi #Pe></mat-datepicker>
                 </mat-form-field>
             </div>
             <div class="con3-item">
                <mat-form-field  appearance="fill" class="select">
                     <mat-label> Res.Permit End (Eth)</mat-label>
                     <input matInput [value]="Notassigned">
                     <mat-datepicker-toggle matSuffix [for]="P_e_e"></mat-datepicker-toggle>
                     <mat-datepicker touchUi #P_e_e></mat-datepicker>
                 </mat-form-field>
             </div>
             <div class="con3-item">
                <mat-form-field  appearance="fill" class="select">
                     <mat-label> ALCS Date (Eth)</mat-label>
                     <input matInput [(ngModel)]="alscEth" [ngModelOptions]="{standalone: true}">
                     <mat-datepicker-toggle matSuffix [for]="a_e"></mat-datepicker-toggle>
                     <mat-datepicker touchUi #a_e></mat-datepicker>
                 </mat-form-field>
             </div>
             <div class="con3-item">
                <mat-form-field  appearance="fill" class="select">
                     <mat-label> Permanent Since (Eth)</mat-label>
                     <input matInput [value]="Notassigned">
                     <mat-datepicker-toggle matSuffix [for]="ps_e"></mat-datepicker-toggle>
                     <mat-datepicker touchUi #ps_e></mat-datepicker>
                 </mat-form-field>
             </div>
             
    </div>
</div>
<div class="flex_con">
<div class="flex1-item">
    <mat-form-field  appearance="fill" class="select" id="pension">
         <mat-label> Pension/PF Scheme</mat-label>
         <input matInput [(ngModel)]="pfScheme"[ngModelOptions]="{standalone: true}">
     </mat-form-field>
 </div>
<div class="flex2-item">
    <mat-form-field  appearance="fill" class="select" id="bouns">
         <mat-label>Bouns Payment On</mat-label>
         <input matInput  [value]="Notassigned">
         <mat-datepicker-toggle matSuffix [for]="Bouns"></mat-datepicker-toggle>
         <mat-datepicker touchUi #Bouns></mat-datepicker>
     </mat-form-field>
 </div>
</div>
<div class="hr">
Budget Center/Location <hr>
</div>
<div class="flex_con">
    <div class="flex1-item">
        <mat-form-field appearance="fill"  class="select">
            <mat-label>Department</mat-label>
            <mat-select [(ngModel)]="deptL1" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let dept of deptlist" [value]="dept.deptL1">{{dept.deptL1}}</mat-option>
            </mat-select>
          </mat-form-field>
     </div>
    <div class="flex2-item">
        <mat-form-field appearance="fill"  class="select">
            <mat-label>Shift</mat-label>
            <mat-select [value]="Notassigned">
              <mat-option [value]="Notassigned">N/A</mat-option>
            </mat-select>
          </mat-form-field>
     </div>
    </div>
    <div class="hr">
        Job Position/Salary <hr>
        </div>
        <div class="flex_con">
            <div class="flex1-item">
                <mat-form-field appearance="fill"  class="select">
                    <mat-label>Job Position</mat-label>
                    <mat-select [(ngModel)]="jobposition" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let job of jobPositionlist" [value]="job.jobPosition">{{job.jobPosition}}</mat-option>
                    </mat-select>
                  </mat-form-field>
             </div>
            <div class="flex2-item">
                <mat-form-field appearance="fill"  class="select">
                    <mat-label>Grade</mat-label>
                    <mat-select [(ngModel)]="grade" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let grade of gradeList" [value]="grade.grade">{{grade.grade}}</mat-option>
                    </mat-select>
                  </mat-form-field>
             </div>
            </div>
            <div class="_flex_con">
                <div class="con_1">
                    <mat-form-field appearance="fill" class="emp">
                        <mat-label>Scale</mat-label>
                        <input matInput [(ngModel)]="scale" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                </div>
                <div class="con_2">
                    <mat-form-field appearance="fill" class="emp">
                        <mat-label>Basic Salary</mat-label>
                        <input matInput [(ngModel)]="basicSalary" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                </div>
                <div class="con_3">
                    <mat-form-field appearance="fill" class="emp">
                        <mat-label>Adjusted Salary</mat-label>
                        <input matInput [value]="Notassigned">
                      </mat-form-field>
                </div>
            </div>
            <div class="flex_con">
                <div class="flex1-item">
                    <mat-form-field appearance="fill"  class="select">
                        <mat-label>Reports to</mat-label>
                        <mat-select [(ngModel)]="reportsTo" [ngModelOptions]="{standalone: true}">
                          <mat-option *ngFor="let reports of reportstoList" [value]="reports.reportsTo">{{reports.reportsTo}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                 </div>
                <div class="flex2-item">
                    <mat-form-field appearance="fill"  class="select">
                        <mat-label>Annual Leave Type</mat-label>
                        <mat-select [value]="Notassigned">
                          <mat-option [value]="Notassigned">N/A</mat-option>
                        </mat-select>
                      </mat-form-field>
                 </div>
                </div>
                <div class="_flex_con">
                    <div class="con_1">
                        <mat-form-field appearance="fill" class="emp">
                            <mat-label>Classification id No</mat-label>
                            <input matInput [value]="Notassigned">
                          </mat-form-field>
                    </div>
                    <div class="con_2">
                        <mat-form-field appearance="fill" class="emp">
                            <mat-label>Tin</mat-label>
                            <input matInput [value]="tinNo">
                          </mat-form-field>
                    </div>
                    <div class="con_3">
                        <mat-form-field appearance="fill" class="emp">
                            <mat-label>Pension/PF Number</mat-label>
                            <input matInput [value]="pfPenNo">
                          </mat-form-field>
                    </div>
                </div>
                <div class="_flex_con">
                    <div class="con_1">
                        <mat-form-field appearance="fill" class="emp">
                            <mat-label>Emp.File Number</mat-label>
                            <input matInput [value]="Notassigned">
                          </mat-form-field>
                    </div>
                    <div class="con_2">
                        <mat-form-field appearance="fill" class="emp">
                            <mat-label>Company id Card No</mat-label>
                            <input matInput [value]="Notassigned">
                          </mat-form-field>
                    </div>
                    <div class="con_3">
                        <mat-form-field appearance="fill" class="emp">
                            <mat-label>TA Clock in ID</mat-label>
                            <input matInput [value]="Notassigned">
                          </mat-form-field>
                    </div>
                </div>
                <div class="grid">
                <mat-form-field appearance="fill"  class="select">
                    <mat-label>TA Machine</mat-label>
                    <mat-select [value]="Notassigned">
                      <mat-option [value]="Notassigned">N/A</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
</form>
