<div class="con">
<mat-icon mat-button [matMenuTriggerFor]="menu" class="icons"><span class="material-symbols-outlined">
    menu
    </span></mat-icon>
    <mat-icon (click)="goback()" class="icons"><span class="material-symbols-outlined">
        home
        </span></mat-icon>
<mat-menu #menu="matMenu"> 
  <button mat-menu-item (click)="openUpdate()">Update Information</button>
  <button mat-menu-item (click)="openPreview()">Print Preview</button>
  <button mat-menu-item (click)="logout()">Log Out</button>
</mat-menu>
</div>



