<div class="con">
    <button mat-stroked-button color="primary" class="btn">New</button>
    <button mat-stroked-button color="primary" class="btn">Save</button>
    <button mat-stroked-button color="primary" class="btn">Print Preview</button>
    <button mat-stroked-button color="primary" class="btn">Refresh</button>
    <button mat-stroked-button color="primary" class="btn">Salary History</button>
    <button mat-stroked-button color="primary" class="btn">Show Photo</button>
    <mat-form-field class="search">
        <mat-label>Search By</mat-label>
        <mat-select>
            <mat-option value="1"></mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-stroked-button color="primary" class="btn">Attachment</button>
    </div>
