*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con{
    display: flex;
    background-color: rgba(139, 139, 193,.1);
    padding-right: 3rem;
.con-left{
    margin: 0rem 3rem;
    padding: 1rem 1rem;
    display: flex;
    .con1,.con2,.con3,.con4{
      display: flex;
      justify-content: space-between;
      #s{
        display: flex;
        flex: 1;
        margin-right: .5rem;
    }
    .emp{
        flex-grow: 1;
       }
    #f{
        margin-left: .5rem;
        flex: 1;
        display: flex;
    }
    #honor{
        margin-right:.5rem ;
    }
    .con3-item{
        margin-right: .5rem;
    }
    } 
}
.con-right{
width: 30%;
.img{
    height: 100%;
}
}
}